body {
    font-family: sans-serif;
    background-color: #FFAD40;
    margin: 0%;
}

header {
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 4%;
    display: flex;
    background-color: black;
    height: 20%;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 2%;
    font-size: 20px;
    border-radius: 22%;
    height: 30%;
    margin-top: 1%;
}

nav {
    position: fixed;
    width: 40%;
    height: 80%;
    left: -30%;
}
.colo{
width: 100%;
height: 100%;
border-radius: 50%;
background-color: black;
position: absolute;
left: 10%;
top: 10%;
}
.colo1{
width: 55%;
top: 20%;
left: 20%;
height: 55%;
border-radius: 50%;
background-color:  #FFAD40;
position: absolute;
}

nav a {
    font-size: 24px;
    color: black;
    text-decoration: none;
position: absolute;
    padding: 1%;
}
.nav-link {
 top: 45%;
 left: 78%;
}
.nav-link1 {
 top: -15%;
 left: 85%;
}
.nav-link2 {
 top: -5%;
 left: 85%;
 width: 30%;
}
.nav-link3 {
 top: 5%;
 left: 95%;
 width: 30%;
}
.nav-link4 {
 top: 35%;
 left: 97%;
 width: 30%;
}
.nav-link5 {
 top: 43%;
 left: 102%;
 width: 30%;
}
.nav-link1,.nav-link2,.nav-link3,.nav-link4,.nav-link5{
    color: #FFAD40;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: 3% ;
    margin-bottom: 3%;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    display: block;
}

article {
    text-align: center;
    background-color: white;
    padding: 3%;
    width: 32%;
    margin:3%;
    background-color: ;
}

.article-but {
    text-decoration: none;
    background-color: #1B1BB3;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 3% 12% 3% 12%;
}

footer {
    background-color: white;
    padding: 8%;
    display: flex;
    
}

footer a {
    margin-right: 5% ;
}

footer p {
    font-size: 24px;
}
.navigation{
    position: relative;
    left:5%;
    
}
.Noyt{
color: #36bbce;
right: 2%;
left: 10%;
}
.Nayshniku::before{
width: 2%;
height: 1%;

}
.VebCamra::before{
width: 2%;
height: 1%;

}
.Klaviatyra:hover::before{
z-index: 1;
display: inline-block;
width: 40px;
height: 40px;
background-size: 40px 40px;
content: "";background-image: url("https://drive.google.com/uc?export=view&id=139ul6YjTjd9Rf57sbZz00KpH8lZtuiEK");;
}
.nav-link:hover{
    background-color:#36bbce;
    color:gold;
}
